<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="POS.Properties.Settings.Setting" connectionString="Data Source=CEDRICHOST\SQLEXPRESS;Initial Catalog=ADSAssiignment;User ID=Cedric;Password=12345"
            providerName="System.Data.SqlClient" />
     </connectionStrings>
  
  <appSettings>
    <add key="SendEmail" value="true"/>
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <POS.Properties.Settings>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
        </POS.Properties.Settings>
    </userSettings>
</configuration>